Content Based

In [1]:
import pandas as pd
import io
import time

In [2]:
df = pd.read_excel('Data/Content.xlsx')
df

,c_id,city,country,overview,climate,keywords,travel_style,activities
0,1,Paris,France,"City of Light, romance, art, iconic landmarks.","Temperate, mild winters, warm summers","Romance, art, history, fashion","Romantic getaway, cultural exploration, luxury","Sightseeing, museums, cafes, shopping"
1,2,London,United Kingdom,"Historic charm, royal heritage, vibrant culture.","Temperate maritime, mild winters, cool summers","History, culture, parks, shopping","City break, cultural trip, family vacation","Museums, parks, shopping, sightseeing, theatre"
2,3,Rome,Italy,"Ancient history, stunning ruins, rich culture.","Mediterranean, hot summers, mild winters","History, culture, food, architecture","Cultural trip, romantic getaway, family vacation","Sightseeing, museums, historic ruins, food tours"
3,4,New York City,United States,"Bustling metropolis, iconic skyline, diverse c...","Temperate, four distinct seasons","Shopping, museums, entertainment","City break, family vacation, luxury travel","Shopping, sightseeing, Broadway shows, museums"
4,5,Tokyo,Japan,"Futuristic city, rich traditions, vibrant energy.","Humid subtropical, hot summers, mild winters","Technology, culture, food, shopping","City break, family vacation, tech enthusiasts","Shopping, temples, sushi, sightseeing, enterta..."
...,...,...,...,...,...,...,...,...
298,301,Ljubljana,Slovenia,"Slovenian city, charming old town, rich cultur...","Continental, cold winters, mild summers","History, culture, art, Slovenia","Cultural exploration, historical tours, city b...","Visiting museums, exploring old town, enjoying..."
299,302,Madurai,India,"Indian city, rich culture, historical landmark...","Tropical, warm year-round","Temples, culture, history, India","Cultural exploration, history tours, spiritual...","Visiting temples, exploring ancient cities, cu..."
300,303,Malmo,Sweden,"Swedish city, modern design, vibrant cultural ...","Oceanic, mild winters, warm summers","Urban life, culture, Sweden","Cultural exploration, city breaks, nature tourism","Exploring parks, visiting museums, walking tours"
301,304,Meknes,Morocco,"Moroccan city, historic landmarks, beautiful a...","Mediterranean, mild winters, hot summers","History, culture, Morocco, architecture","Cultural exploration, historical tours, nature...","Exploring ancient medinas, visiting historical..."
302,305,Mombasa,Kenya,"Kenyan coastal city, beaches, historical signi...","Tropical, warm year-round","Beaches, coastal life, culture, Kenya","Beach vacation, nature tourism, cultural explo...","Relaxing on beaches, wildlife safaris, cultura..."

In [3]:
df.head(2)

,c_id,city,country,overview,climate,keywords,travel_style,activities
0,1,Paris,France,"City of Light, romance, art, iconic landmarks.","Temperate, mild winters, warm summers","Romance, art, history, fashion","Romantic getaway, cultural exploration, luxury","Sightseeing, museums, cafes, shopping"
1,2,London,United Kingdom,"Historic charm, royal heritage, vibrant culture.","Temperate maritime, mild winters, cool summers","History, culture, parks, shopping","City break, cultural trip, family vacation","Museums, parks, shopping, sightseeing, theatre"

In [4]:
df.iloc[0]['overview']

'City of Light, romance, art, iconic landmarks.'

In [5]:
df['overview'] = df['overview'].apply(lambda x:x.split())

In [6]:
df.head()

,c_id,city,country,overview,climate,keywords,travel_style,activities
0,1,Paris,France,"[City, of, Light,, romance,, art,, iconic, lan...","Temperate, mild winters, warm summers","Romance, art, history, fashion","Romantic getaway, cultural exploration, luxury","Sightseeing, museums, cafes, shopping"
1,2,London,United Kingdom,"[Historic, charm,, royal, heritage,, vibrant, ...","Temperate maritime, mild winters, cool summers","History, culture, parks, shopping","City break, cultural trip, family vacation","Museums, parks, shopping, sightseeing, theatre"
2,3,Rome,Italy,"[Ancient, history,, stunning, ruins,, rich, cu...","Mediterranean, hot summers, mild winters","History, culture, food, architecture","Cultural trip, romantic getaway, family vacation","Sightseeing, museums, historic ruins, food tours"
3,4,New York City,United States,"[Bustling, metropolis,, iconic, skyline,, dive...","Temperate, four distinct seasons","Shopping, museums, entertainment","City break, family vacation, luxury travel","Shopping, sightseeing, Broadway shows, museums"
4,5,Tokyo,Japan,"[Futuristic, city,, rich, traditions,, vibrant...","Humid subtropical, hot summers, mild winters","Technology, culture, food, shopping","City break, family vacation, tech enthusiasts","Shopping, temples, sushi, sightseeing, enterta..."

In [7]:
df.iloc[0]['overview']

['City', 'of', 'Light,', 'romance,', 'art,', 'iconic', 'landmarks.']

In [8]:
df

,c_id,city,country,overview,climate,keywords,travel_style,activities
0,1,Paris,France,"[City, of, Light,, romance,, art,, iconic, lan...","Temperate, mild winters, warm summers","Romance, art, history, fashion","Romantic getaway, cultural exploration, luxury","Sightseeing, museums, cafes, shopping"
1,2,London,United Kingdom,"[Historic, charm,, royal, heritage,, vibrant, ...","Temperate maritime, mild winters, cool summers","History, culture, parks, shopping","City break, cultural trip, family vacation","Museums, parks, shopping, sightseeing, theatre"
2,3,Rome,Italy,"[Ancient, history,, stunning, ruins,, rich, cu...","Mediterranean, hot summers, mild winters","History, culture, food, architecture","Cultural trip, romantic getaway, family vacation","Sightseeing, museums, historic ruins, food tours"
3,4,New York City,United States,"[Bustling, metropolis,, iconic, skyline,, dive...","Temperate, four distinct seasons","Shopping, museums, entertainment","City break, family vacation, luxury travel","Shopping, sightseeing, Broadway shows, museums"
4,5,Tokyo,Japan,"[Futuristic, city,, rich, traditions,, vibrant...","Humid subtropical, hot summers, mild winters","Technology, culture, food, shopping","City break, family vacation, tech enthusiasts","Shopping, temples, sushi, sightseeing, enterta..."
...,...,...,...,...,...,...,...,...
298,301,Ljubljana,Slovenia,"[Slovenian, city,, charming, old, town,, rich,...","Continental, cold winters, mild summers","History, culture, art, Slovenia","Cultural exploration, historical tours, city b...","Visiting museums, exploring old town, enjoying..."
299,302,Madurai,India,"[Indian, city,, rich, culture,, historical, la...","Tropical, warm year-round","Temples, culture, history, India","Cultural exploration, history tours, spiritual...","Visiting temples, exploring ancient cities, cu..."
300,303,Malmo,Sweden,"[Swedish, city,, modern, design,, vibrant, cul...","Oceanic, mild winters, warm summers","Urban life, culture, Sweden","Cultural exploration, city breaks, nature tourism","Exploring parks, visiting museums, walking tours"
301,304,Meknes,Morocco,"[Moroccan, city,, historic, landmarks,, beauti...","Mediterranean, mild winters, hot summers","History, culture, Morocco, architecture","Cultural exploration, historical tours, nature...","Exploring ancient medinas, visiting historical..."
302,305,Mombasa,Kenya,"[Kenyan, coastal, city,, beaches,, historical,...","Tropical, warm year-round","Beaches, coastal life, culture, Kenya","Beach vacation, nature tourism, cultural explo...","Relaxing on beaches, wildlife safaris, cultura..."

In [9]:
for col in ["climate","keywords","travel_style", "activities"]:
    df[col] = df[col].str.replace(" ", "").str.split(",")

In [10]:
df.head(2)

,c_id,city,country,overview,climate,keywords,travel_style,activities
0,1,Paris,France,"[City, of, Light,, romance,, art,, iconic, lan...","[Temperate, mildwinters, warmsummers]","[Romance, art, history, fashion]","[Romanticgetaway, culturalexploration, luxury]","[Sightseeing, museums, cafes, shopping]"
1,2,London,United Kingdom,"[Historic, charm,, royal, heritage,, vibrant, ...","[Temperatemaritime, mildwinters, coolsummers]","[History, culture, parks, shopping]","[Citybreak, culturaltrip, familyvacation]","[Museums, parks, shopping, sightseeing, theatre]"

In [11]:
df['tags'] = df['overview'] + df['climate'] + df['keywords'] + df['travel_style'] + df['activities']
df.head()

,c_id,city,country,overview,climate,keywords,travel_style,activities,tags
0,1,Paris,France,"[City, of, Light,, romance,, art,, iconic, lan...","[Temperate, mildwinters, warmsummers]","[Romance, art, history, fashion]","[Romanticgetaway, culturalexploration, luxury]","[Sightseeing, museums, cafes, shopping]","[City, of, Light,, romance,, art,, iconic, lan..."
1,2,London,United Kingdom,"[Historic, charm,, royal, heritage,, vibrant, ...","[Temperatemaritime, mildwinters, coolsummers]","[History, culture, parks, shopping]","[Citybreak, culturaltrip, familyvacation]","[Museums, parks, shopping, sightseeing, theatre]","[Historic, charm,, royal, heritage,, vibrant, ..."
2,3,Rome,Italy,"[Ancient, history,, stunning, ruins,, rich, cu...","[Mediterranean, hotsummers, mildwinters]","[History, culture, food, architecture]","[Culturaltrip, romanticgetaway, familyvacation]","[Sightseeing, museums, historicruins, foodtours]","[Ancient, history,, stunning, ruins,, rich, cu..."
3,4,New York City,United States,"[Bustling, metropolis,, iconic, skyline,, dive...","[Temperate, fourdistinctseasons]","[Shopping, museums, entertainment]","[Citybreak, familyvacation, luxurytravel]","[Shopping, sightseeing, Broadwayshows, museums]","[Bustling, metropolis,, iconic, skyline,, dive..."
4,5,Tokyo,Japan,"[Futuristic, city,, rich, traditions,, vibrant...","[Humidsubtropical, hotsummers, mildwinters]","[Technology, culture, food, shopping]","[Citybreak, familyvacation, techenthusiasts]","[Shopping, temples, sushi, sightseeing, entert...","[Futuristic, city,, rich, traditions,, vibrant..."

In [12]:
df.iloc[0]['tags']

['City',
 'of',
 'Light,',
 'romance,',
 'art,',
 'iconic',
 'landmarks.',
 'Temperate',
 'mildwinters',
 'warmsummers',
 'Romance',
 'art',
 'history',
 'fashion',
 'Romanticgetaway',
 'culturalexploration',
 'luxury',
 'Sightseeing',
 'museums',
 'cafes',
 'shopping']

In [13]:
new_df = df[['c_id','city','tags']]
new_df.head()

   c_id           city                                               tags
0     1          Paris  [City, of, Light,, romance,, art,, iconic, lan...
1     2         London  [Historic, charm,, royal, heritage,, vibrant, ...
2     3           Rome  [Ancient, history,, stunning, ruins,, rich, cu...
3     4  New York City  [Bustling, metropolis,, iconic, skyline,, dive...
4     5          Tokyo  [Futuristic, city,, rich, traditions,, vibrant...

In [14]:
# Ensure all entries in 'tags' are lists
new_df['tags'] = new_df['tags'].apply(lambda x: x if isinstance(x, list) else [])

C:\Users\Sania\AppData\Local\Temp\ipykernel_16876\1912678360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x if isinstance(x, list) else [])

In [15]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\Sania\AppData\Local\Temp\ipykernel_16876\1955922539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

   c_id           city                                               tags
0     1          Paris  City of Light, romance, art, iconic landmarks....
1     2         London  Historic charm, royal heritage, vibrant cultur...
2     3           Rome  Ancient history, stunning ruins, rich culture....
3     4  New York City  Bustling metropolis, iconic skyline, diverse c...
4     5          Tokyo  Futuristic city, rich traditions, vibrant ener...

In [16]:
new_df.iloc[0]['tags']

'City of Light, romance, art, iconic landmarks. Temperate mildwinters warmsummers Romance art history fashion Romanticgetaway culturalexploration luxury Sightseeing museums cafes shopping'

In [17]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head()

C:\Users\Sania\AppData\Local\Temp\ipykernel_16876\842480936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

   c_id           city                                               tags
0     1          Paris  city of light, romance, art, iconic landmarks....
1     2         London  historic charm, royal heritage, vibrant cultur...
2     3           Rome  ancient history, stunning ruins, rich culture....
3     4  New York City  bustling metropolis, iconic skyline, diverse c...
4     5          Tokyo  futuristic city, rich traditions, vibrant ener...

In [18]:
new_df.iloc[0]['tags']

'city of light, romance, art, iconic landmarks. temperate mildwinters warmsummers romance art history fashion romanticgetaway culturalexploration luxury sightseeing museums cafes shopping'

In [19]:
new_df.shape

(303, 3)

In [20]:
#stemming
import nltk
from nltk.stem import PorterStemmer

In [21]:
ps = PorterStemmer()

In [22]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [23]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\Sania\AppData\Local\Temp\ipykernel_16876\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [24]:
new_df.iloc[0]['tags']

'citi of light, romance, art, icon landmarks. temper mildwint warmsumm romanc art histori fashion romanticgetaway culturalexplor luxuri sightse museum cafe shop'

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [26]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [27]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [28]:
vector.shape

(303, 1061)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similary = cosine_similarity(vector)

In [31]:
similary

array([[1.        , 0.25584086, 0.23836565, ..., 0.13336627, 0.18609684,
        0.04652421],
       [0.25584086, 1.        , 0.35777088, ..., 0.20851441, 0.21821789,
        0.17457431],
       [0.23836565, 0.35777088, 1.        , ..., 0.13987572, 0.39036003,
        0.09759001],
       ...,
       [0.13336627, 0.20851441, 0.13987572, ..., 1.        , 0.31851103,
        0.27300945],
       [0.18609684, 0.21821789, 0.39036003, ..., 0.31851103, 1.        ,
        0.28571429],
       [0.04652421, 0.17457431, 0.09759001, ..., 0.27300945, 0.28571429,
        1.        ]])

In [32]:
similary.shape

(303, 303)

In [33]:
new_df[new_df['city'] == 'Hyderabad'].index[0]

49

In [34]:
def recommend(place):
    index= new_df[new_df['city']== place].index[0]
    distances=sorted(list(enumerate(similary[index])),reverse=True, key= lambda x:x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].city)

In [35]:
recommend('Hyderabad')

Mexico City
Istanbul
Mumbai
Tokyo
Jakarta

In [36]:
# Measure computation time for the recommendation
def measure_recommendation_time(place):
    start_time = time.time()  # Start time
    recommendations = recommend(place)  # Call the recommendation function
    end_time = time.time()  # End time
    elapsed_time = end_time - start_time  # Calculate elapsed time
    print(f"Query processing time: {elapsed_time:.4f} seconds")

In [37]:
# Example usage
measure_recommendation_time('Hyderabad')

Mexico City
Istanbul
Mumbai
Tokyo
Jakarta
Query processing time: 0.0012 seconds

In [38]:
import pickle

pickle.dump(new_df, open('artifacts/place_list.pkl', 'wb'))
pickle.dump(similary, open('artifacts/similarity.pkl', 'wb'))